html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
}

#scene-canvas {
    display: block;
    width: 100%;
    height: 100%;
}